#############################################
### NiuTrans hierarchy train model config ###
#############################################

# Hiero Rule table parameters
param="srclen"                       value="10"
param="tgtlen"                       value="10"
param="maxSrcI"                      value="7"
param="maxTgtI"                      value="7"
param="maxSrcH"                      value="5"
param="maxTgtH"                      value="10"
param="minSrcSubPhrase"              value="1"
param="minTgtSubPhrase"              value="1"
param="minLexiNum"                   value="1"
param="maxnonterm"                   value="2"

# Hiero Rule table Flag: 1 is true, 0 is false
param="alignedLexiReq"               value="1"
param="srcNonTermAdjacent"           value="0"
param="tgtNonTermAdjacent"           value="1"
param="duplicateHieroRule"           value="0"
param="headnonterm"                  value="1"
param="null"                         value="0"

param="printFreq"                    value="0"
param="printAlign"                   value="0"

# Optimization Flag
param="unalignedEdgeInit"            value="1"
param="unalignedEdgeHiero"           value="0"

# Optimization Parameters
param="maxNulExtSrcInitNum"          value="3"
param="maxNulExtTgtInitNum"          value="3"
param="maxNulExtSrcHieroNum"         value="1"
param="maxNulExtTgtHieroNum"         value="1"

param="cutoffInit"                   value="0"
param="cutoffHiero"                  value="0"

