###########################################
### NiuTrans  phrase train model config ###
###########################################

# temp file path
param="Lexical-Table"                value="lex"
param="Extract-Phrase-Pairs"         value="extractPhrasePairs"

# phrase table parameters
param="Max-Source-Phrase-Size"       value="7"
param="Max-Target-Phrase-Size"       value="7"
param="Phrase-Cut-Off"               value="0"

# phrase translation model
param="Phrase-Table"                 value="phrase.translation.table"

# maxent lexicalized reordering parameters
param="ME-max-src-phrase-len"        value="7"
param="ME-max-tar-phrase-len"        value="7"
param="ME-null-algn-word-num"        value="1"
param="ME-max-sample-num"            value="5000000"
param="ME-use-src-parse-pruning"     value="0"
param="ME-src-parse-path"            value="/path/to/parse.tree"

# maxent lexicalized reordering model
param="ME-Reordering-Table"          value="me.reordering.table"

# msd lexicalized reordering parameters
param="MSD-model-type"               value="1"

# msd lexicalized reordering model
param="MSD-Reordering-Model"         value="msd.reordering.table"
