# control
toLower	true

# pre-processing
eng_PreProcessing_MergerSpaces	
all_PreProcessing_FullToHalf	../resource/full_to_half.all

# prev-recognition
eng_PrevRecognition_Regex	../resource/regex_recognizer_generalize.eng||||||../resource/regex_recognizer_nogeneralize.eng

# segmentation
eng_Segmentation_Segmentation	../resource/segmentation.eng

# post-recognition
all_PostRecognition_MergeAtomToCompose	../resource/merge_atom_to_compose.eng
all_post_detail_recoginize	../resource/post_detail_recoginize.eng

# translation
eng_Translation_DateTranslator	../resource/date_translator.eng
eng_Translation_NumberTranslator	../resource/number_translator.eng
eng_Translation_EngNumToArabicNum	../resource/eng_num_to_arabic_num.eng
eng_Translation_TimeTranslator	../resource/time_translator.eng
eng_Translation_TransUsingDict	../resource/trans_using_dict.eng
eng_Translation_ArabicnumToChinum	../resource/arabic_num_to_chi.eng
eng_Translation_ChiNameInEng	../resource/name_chiineng_translator.eng
