###############################################
### NiuTrans syntax.s2t train model config  ###
###############################################

# Parameters of String to Tree Syntax Rule Table
param="method"                       value="GHKM"
param="compose"                      value="2"
param="uain"                         value="4"
param="uaout"                        value="2"
param="varnum"                       value="4"
param="wordnum"                      value="4"
param="depth"                        value="-1"
param="oformat"                      value="default"


param="cutoff"                       value="1"
param="lowerfreq"                    value="3"
param="filternum"                    value="30"

