# pre-processing
all_PreProcessing_FullToHalf	../resource/full_to_half.all

# prev-recognition
#all_PrevRecognition_RegexRecognizer	../resource/regex_recognizer.chi
all_PrevRecognition_RegexRecognizer	../resource/regex_recognizer_generalize.chi||||||../resource/regex_recognizer_nogeneralize.chi
chi_PreName_recognise	../resource/h2f.big.c25.i100

# segmentation
chi_LM-Based_word_breaker	lex:../resource/Dict0920/len2.lex||||||loc:../resource/Dict0920/len2.loc||||||org:../resource/bi.org.dict||||||psn:../resource/Dict0920/len2.psn;

# post-recognition
all_PostRecognition_MergeAtomToCompose	../resource/merge_atom_to_compose.chi
chi_PostRecognition_PersonLoc	../resource/post_recognition_person.chi+../resource/post_recognition_loc.chi
chi_Post_EasyFirst_Recognise	mod:../resource/easyfirst/allNeScore.bin||||||fea:../resource/easyfirst/allNeFeature.cpt||||||tmp:../resource/easyfirst/templateName4.0.utf8||||||lab:./resource/easyfirst/allNeWbTags.txt||||||nnd:./resource/easyfirst/nonNameAll.utf8||||||inv:./resource/easyfirst/invalidNameHz.utf8||||||las:./resource/easyfirst/lastNames.utf8||||||cen:./resource/easyfirst/chofEnName.txt
chi_All_Post_Details	../resource/user_bilingual_dict.chi

# translation
chi_Translation_ArabicNumToEngTranslate	../resource/arabic_num_to_eng.chi
chi_Translation_DateTranslator	../resource/date_translator.chi
chi_Translation_DictionaryTranslator	
chi_Translation_BilingualDictionary	../resource/bilingual_dictionaryV10.0.sort.chi
chi_Translation_NumberTranslator	../resource/number_translator.chi
chi_Translation_TimeTranslator	../resource/time_translator.chi
chi_Translation_ChinumToArabicnum	../resource/chinum_to_arabic_num.chi
chi_Translation_NameTranslator	../resource/name_translator.chi
chi_Translate_Loc	../resource/loc_translator.chi